html {
	width:100%;
	height:100%;
	font-size:62.5%
	}
	
body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:#fff;
	overflow:hidden;
	background-image:url(media/bg.png);
	background-repeat:repeat-x;
	font-family:Calibri, sans-serif;
	}
	
#hintergrund {
	position:absolute;
	top:0px;
	left:0px;
	z-index:0;
	}
	
em {
	font-style:normal;
	font-weight:bold;
}	

#zeiger {
	position:absolute;
	top:0px;
	left:0px;
	z-index:1
}

#info {
	width:220px;
	margin:0 0 0 35px;
	font-size:1.25em;
	z-index:3;
	line-height:1.4em;
}

#info img {
	margin:0 0 10px -15px;
	}

#info h3 {
	color:#ff0000;
	margin:0 0 -5px 0;
}

#info p {
	text-align:justify
}

#version {
	color:#999;
	font-size:0.5em;
	position:absolute;
	bottom:6px;
	right:6px;
}

#finished {
	display:none;
	position:absolute;
	z-index:4;
}

#restart:link, #restart:visited {
	background-image:url(media/finished.png);
	display:block;
	width:300px;
	height:95px;
}

#restart:hover, #restart:active {
	background-image:url(media/restart.png);
	display:block;
	width:300px;
	height:95px;
}
